---
layout: archive
---


<p>매일 공부한 것에 대해서 기록해나가는 블로그 (~220810)</p>

<p style="font-size: 14px;">2022 잔디의 추억</p>

<img src="/assets/images/2022_grass.png" alt="2022 잔디심기" width="80%" height="80%">

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
<hr class="solid">
<br>
현재 블로그는 아카이빙용으로 남겨두고, 신규 업데이트는 <a href="https://logonme.net/">여기로</a>